<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
	
	
	
<title>MySafeSpace</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">

<h2>SafeSpace</h2>

<div class="w3-bar w3-teal">
  <a th:href="@{/j}" class="w3-bar-item w3-button">My profile</a>
  <a th:href="@{/j}" class="w3-bar-item w3-button">My results</a>
  <a th:href="@{/login}" class="w3-bar-item w3-button">Log out</a>
</div>

</div>

<!-- Content Section -->
<section layout:fragment="content">

</section>


</body>
</html>


