<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">



<title>Sign In</title>
</head>
<body>
	<!-- Fragment -->
	<div layout:fragment="content">

		<form action="addGuest">
			<input class="w3-input w3-section w3-border" type="text"
				placeholder="Name" required name="name"> <input
				class="w3-input w3-section w3-border" type="text"
				placeholder="Surname" required name="surname"> <input
				class="w3-input w3-section w3-border" type="number" min=5 max=120
				placeholder="Age" required name="age"> <input
				class="w3-input w3-section w3-border" type="tel"
				placeholder="Phone number" required name="phoneNumber"> <input
				class="w3-input w3-section w3-border" type="email"
				placeholder="Email" required name="email"> <input
				class="w3-input w3-section w3-border" type="text"
				placeholder="Password" required name="password">

			<button class="w3-btn w3-teal">Sign me in!</button>

		</form>

	</div>
	